.git
.github
.next
**/.next
node_modules
**/node_modules
dist
**/dist
build
**/build
.turbo
**/.turbo
.cache
**/.cache
coverage
**/coverage
*.log
*.tmp
*.bak
*.tsbuildinfo
.env
.env.*
!.env.example
Dockerfile
docker-compose*.yml
README.md
docs
